<% provide(:title, 'Чем могу помочь') %>
<% provide(:about_active, 'active') %>
<h1 class="text-center info">Чем я могу Вам помочь:</h1>
<br>
<br>
<div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7">
          <h3 class="featurette-heading">Консультация по здоровью</h3>
          <p class="lead">Во время консультации рассматривается один или несколько моментов:

    -Необоснованная усталость и упадок сил

    -Плохое настроение на протяжении длительного времени

    -Есть страх, что кто-то навёл порчу или сглаз

    -Появление дискомфортных ощущений в области сердца и других частях тела без видимых на то причин

    -Обострение хронических заболеваний без видимых на то причин
    появление проблем со здоровьем, которые трудно диагностируются
    специалистами традиционной медицины, разные диагнозы у разных врачей

    -Различные нарушения сна и другие вопросы по здоровью.

    Для кого подойдёт эта консультация?

    Для тех, кто решил, что пора всерьёз браться за своё здоровье,
    Для тех, кто перепробовал разные методы, но они не очень помогли,
    Для тех, кто хочет более устойчивого результата, совмещая медицинское лечение с восстановлением своего энергетического состояния,
    Для тех, кто хочет перестать лечить симптомы и готов разобраться и убрать причины,
    Для тех, кто хочет понять причины своего недуга, чтобы не повторять ошибок.

    Работа целителя заключается в определении корня проблемы на уровне энергии и проведении серии энергетических процедур по решению данного вопроса.
    Первая консультация – диагностическая, но это не значит, что вам поставят диагноз. На первой консультации Дмитрий определяет глубину проблемы и объем работы, который предстоит провести, чтобы стабилизировать ситуацию или вывести из проблемы. От этого зависит количество процедур и продолжительность работы биоэнергетика. Из опыта проведенных консультаций можно сделать вывод, что есть проблемы, которые можно решить за одну процедуру, а есть такие, которые требуют длительной работы. Без диагностической консультации невозможно сказать, что у вас за проблема и сколько времени потребуется на ее решение.

    Что не берётся в работу: онкология, психиатрия, сахарный диабет, рассеянный склероз, эпилепсия, инфекционные заболевания и еще некоторые проблемы на усмотрение целителя.

    Обратите внимание, мы не назначаем и не отменяем выписанные врачом лекарственные препараты и процедуры, а также не ставим медицинских диагнозов.
​</p>
        </div>
        <div class="col-md-5">
          <%= image_tag('u1.jpg', class: 'featurette-image img-fluid mx-auto', alt: 'health') %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

</div>





