<% provide(:title, 'Чем могу помочь') %>
<% provide(:about_active, 'active') %>
<h1 class="text-center info">Чем я могу Вам помочь:</h1>
<div class='row'>
<ul>
  <li>
    <h3>Внутриличностные конфликты</h3>
  </li>
  <li>
    <h3>Болезненная ревность</h3>
  </li>
  <li>
    <h3>Агрессия</h3>
  </li>
  <li>
    <h3>Потеря смыслов жизни</h3>
  </li>
  <li>
    <h3>Вывод из черной полосы</h3>
  </li>
  <li>
    <h3>Избавление от хронической депрессии, страха, панических атак</h3>
  </li>
  <li>
    <h3>Лечение проблемных зон целительной энергией</h3>
  </li>
  <li>
    <h3>Помощь в устранении тягостных воспомининий, блоков и барьеров, которые препятствуют нормальной и комфортной жизни</h3>
  </li>
  <li>
    <h3>Помощь в ситуациях потерь и расставаний</h3>
  </li>
  <li>
    <h3>Помощь в снятии негативных установок</h3>
  </li>
  <li>
    <h3>Фобия (невыносимый страх конкретных предметов, явлений, животных, действий, событий)</h3>
  </li>
  <li>
    <h3>Различные нарушения сна</h3>
  </li>
  <li>
    <h3>Плохое самочувствие – постоянная усталость или быстрая утомляемость</h3>
  </li>
  <li>
    <h3>Нетипичные для Вашего характера раздражительность, тревожность, подавленность</h3>
  </li>
  <li>
    <h3>Потеря аппетита</h3>
  </li>
  <li>
    <h3>Появление ноющих ощущений в области сердца</h3>
  </li>
  <li>
    <h3>Обострение хронических заболеваний без видимых на то причин</h3>
  </li>
  <li>
    <h3>Появление проблем со здоровьем, которые трудно диагностируются специалистами традиционной медицины, разные диагнозы у разных врачей, неэффективность прописанного лечения</h3>
  </li>
  <li>
    <h3>Психические расстройства и неадекватность поведения</h3>
  </li>
</ul>
</div>






















