<% provide(:title, 'Контакты') %>
<% provide(:contact_active, 'active') %>
<h1 class="text-center info">Контакты</h1>
<div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, aperiam magnam maiores praesentium. Perferendis voluptates deserunt ad illum itaque pariatur id fugiat explicabo, quaerat alias esse, facere. Dolorum cumque voluptatum rem quo pariatur magni vero quis vitae illo ad, ratione alias iure placeat cum consectetur fuga veritatis totam minus itaque asperiores, aliquam sapiente?
</p>
<p>
  In quasi libero ex nam nobis, aperiam beatae sint autem repudiandae saepe repellendus, voluptates natus rem deleniti soluta dolorum illum magni explicabo velit. Quasi sit, temporibus quae necessitatibus esse consequatur similique, dignissimos recusandae debitis id, saepe ipsum cum quo! Consequuntur illo delectus eveniet, numquam atque quidem.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis eveniet repellendus, maxime magni ipsum. Magni fuga quibusdam perferendis neque velit temporibus, doloremque, et incidunt amet delectus assumenda a deserunt consectetur repudiandae consequuntur adipisci, eveniet ipsa voluptas ratione quis quia voluptate quae laborum. Architecto reiciendis a tempore doloribus nam distinctio, amet!
</p>
</div>
