<% provide(:title, 'Обо мне') %>
<% provide(:contact_active, 'active') %>
<h1 class="text-center info">Помощь Целителя
в Санкт-Петербурге</h1>
<div>
<p>
  Здравствуйте! Меня зовут Дмитрий, я занимаюсь такими вещами как «биоэнергетика», «экстросенсорика», «целительство», «эзотерика». Находясь  в развитии уже более 8 лет, я понял очень многие вещи, с позиции духовного мира человека, его взаимодействия с внешним миром, и внутренним миром других людей.

Я не хочу использовать какие то заумные слова, непонятные термины из «эзотерического лексикона» я постараюсь максимально простым языком, донести до вас информацию, и подкрепить эту информацию проявлениями из жизни,попытаюсь раскрыть механизмы взаимодействия и проявления.
Изначально «человек» это духовно-энергетическая сущность,я буду говорить непосредственно о внутренней составляющей человека.

Как работает механизм взаимодействия физического мира с внутренним миром человека?

Есть вещи которые не возможно объяснить с научной точки зрения.

Под эту категорию попадают так называемые предчувствия «вещие сны, изначальное знание ответа на ту или иную ситуацию,ощущение внутреннего дискомфорта находясь с человеком который носит так называемую негативную энергию, или же наоборот, ощущение душевного комфорта находясь с человеком который носит позитивную энергию, энергетический вампиризм и многие другие моменты связанные непосредственно с внутренними ощущениями человека»

Что можно сказать с уверенностью так это то, что каждый из нас, имеет способности «экстрасенсорного» характера,это базовые способности предназначенные для выживания человека на этой планете, этот инструмент называется интуиция.

 Каждый из нас в течении своей жизни, встречался с противоречием, или внутренним конфликтом, на ситуацию которая происходила с человеком, когда так хорошо знакомый нам физический мир, показывал ситуацию таким образом, что с логической точки зрения, сделать определённое действие было бы правильным решением, но в этот самый момент, вдруг всплывали внутренние ощущения, или мысли, или какие то особые предчувствия, которые противоречили нашей логике.

С раннего детства, нас не учили осознанности, нас учили игнорировать эти самые «интуитивные» ощущения, нам говорили «не обращай внимания, это всего лишь ощущения, это всё ерунда"заставляя нас, потерять доверие к себе, это приводит к тому, что человек теряет индикацию в своей жизни, интуиция, это тот самый компас, который указывает верное направление.

Всем давно известно что в основном, болезни человека связывают с нарушением психического равновесия, или как говорят болезнь на «нервной почве» я бы хотел немного расширить эту картину. Дополнить эту картину можно тем, что есть так называемое «энергетическое тело» человека, энергетические центры(чакры), энергетические каналы и защитная оболочка (аура), подробнее  вы можете узнать кликнув на выделенное слово

С течением жизни, утрачивая интуитивность, мы перестаём  чувствовать эту навигацию, тем самым создавая себе кучу проблем, как в жизни, так и во внутреннем мире, человек начинает путаться в своих мыслях и ощущениях, перестраивается на несвойственную ему жизнь, это приводит к нарушениям работы энергетических центров, блокированию потока духовной энергии, а это в свою очередь несёт за собой череду последствий как:

     Заболевание физического тела.
     Нарушение эмоционального фона человека.
     Разрушением системы самооценки.
     Блокированием ощущений самодостаточности и самоуверенности.
     Снижением жизненной энергии.
     Упадком сил.
     Отсутствием жизненного стимула.
     Присутствует ощущение внутренней пустоты.
       Различные нарушения сна плохое самочувствие.

  Эти и другие проблемы вы можете решить записавшись на консультацию!

От чего же, всё таки зависят эти ощущения?
​
Самый главный и очень важный аспект, это внутренняя духовная чистота, самый яркий пример это дети-рождаясь они излучают внутренний свет, по этому, находясь рядом  с ребёнком, мы получаем определённые ощущения счастья, хорошего настроения, позитивного настроя и так далее, до момента когда этот внутренний источник света не иссякнет.Очень большое влияние имеет тот факт, в каком окружении находиться человек, и соответствует ли это окружение его мыслеобразу.
</p>
</div>
