.card {
  background: white;
}
.card a:hover {
  // opacity: 0.85;
}
.card h4 {
  font-size: 2rem;
  margin-top: 0;
}

// {
//     box-shadow: 0 3px 10px 0 rgba(84,84,84,0.3);
//     color: inherit;
// }
/* hoover with effect GROW on cards */
.hvr-grow:hover {
    box-shadow: 0 3px 10px 0 rgba(84,84,84,0.3);
    color: inherit;
}
//
// .hvr-grow:hover,
// .hvr-grow:focus,
// .hvr-grow:active {
//     transform: scale(1.1);
// }
