// footer .bottom {
//     background: #172433;
//     padding: 1.5rem;
//     color: white;
// }
/* background image on bottom */

footer.document {
  position: relative;
  padding: 4rem 0;
  background-color: #f7f7f9;
  background-image: image-url('footer.gif');
  background-position: left bottom;
  background-repeat: no-repeat;
  // height: 840px;
  // width: 690px;
  background-size: contain;
  font-family: "Unica One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
footer.document a:not(:hover) {
    color: #000 !important
}
footer.document ul {
    padding: 0
}
footer.document ul li {
  display: block;
  line-height: 1.3em;
  font-size: 13px;
}
footer.document ul li.copyright {
  margin-top: 1em;
  color: #818a91;
  line-height: 1em !important
}
footer.document ul li.copyright i.copyright-symbol {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

footer.document ul li.heading {
    color: #818a91
}
footer.document ul li a,footer.document ul li.copyright span,footer.document ul li.heading span {
    display: inline-block;
    padding: 0.5rem;
    background-color: #f7f7f9
}
footer.document ul li a:hover {
    text-decoration: none
}

footer.document .row .footer-left {
    text-align: right
}
footer.document .row .footer-left .heading:not(:first-child) {
    margin-top: 1.6em
}

footer.document .row .footer-right {
    text-align: left
}
.footer-row {
    // display: flex;
    flex-wrap: wrap;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}
.footer-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
@media (max-width: 768px) {
    footer.document {
        background-size:50%
    }
}

@media (max-width: 544px) {
    footer.document {
        padding:1rem 0 4rem 0
    }
}
