// // footer .bottom {
// //     background: #172433;
// //     padding: 1.5rem;
// //     color: white;
// // }
// /* background image on bottom */
//
// footer.document {
//   position: relative;
//   padding: 4rem 0;
//   background-color: #444;
//   // height: 840px;
//   // width: 690px;
//   font-family: "Unica One", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   text-transform: uppercase;
// }
// footer.document a:not(:hover) {
//     color: #000 !important
// }
// footer.document ul {
//     padding: 0
// }
// footer.document ul li {
//   display: block;
//   line-height: 1.3em;
//   font-size: 13px;
// }
// footer.document ul li.copyright {
//   margin-top: 1em;
//   color: #818a91;
//   line-height: 1em !important
// }
// footer.document ul li.copyright i.copyright-symbol {
//     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
// }
//
// footer.document ul li.heading {
//     color: #818a91
// }
// footer.document ul li a,footer.document ul li.copyright span,footer.document ul li.heading span {
//     display: inline-block;
//     padding: 0.5rem;
//     background-color: #444
// }
// footer.document ul li a:hover {
//     text-decoration: none
// }
//
// footer.document .row .footer-left {
//     text-align: right
// }
// footer.document .row .footer-left .heading:not(:first-child) {
//     margin-top: 1.6em
// }
//
// footer.document .row .footer-right {
//     text-align: left
// }
// .footer-row {
//     // display: flex;
//     flex-wrap: wrap;
//     margin-left: -0.9375rem;
//     margin-right: -0.9375rem;
// }
// .footer-container {
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 0.9375rem;
//     padding-right: 0.9375rem;
// }
// @media (max-width: 768px) {
//     footer.document {
//         background-size:50%
//     }
// }
//
// @media (max-width: 544px) {
//     footer.document {
//         padding:1rem 0 4rem 0
//     }
// }
// INDIAN SHIET
#myFooter {
    background-color: #3c3d41;
    color: white;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}


