<!--     <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5>Навигация</h5>
                    <ul>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Обо мне</a></li>
                        <li><a href="#">Чем могу помочь</a></li>
                    </ul>
                </div>
             wer   <div class="col-sm-4">
                    <h5>Написать</h5>
                    <ul>
                        <li><a href="#">dmityryzone@yandex.ru</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h5>Позвонить</h5>
                    <ul>
                        <li><a href="#">+7(911)980-45-57</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2017 Все права защищены </p>
        </div>
    </footer> -->

<div class='container'>
    <hr class="featurette-divider">
  <footer>
    <p class="float-right"><a href="#">Наверх</a></p>
    <p>&copy; 2017 Все права защищены, Inc. &middot; <a href="#">Позвонить</a> &middot; <a href="#">Написать</a></p>
  </footer>
</div>
