<footer>
  <div class="container-fluid bottom">
    <div class="container">
      <div class="row logo">
        <div class="col-xs-12 col-sm-6 col-md-4 text-xs-center text-sm-left">Allah</div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-xs-center copyright-text">© Copyright 2012-2017 MaloryBlog.com</div>
        <div class="col-xs-12 col-md-4 text-xs-center text-md-right scl">
          <b class="hidden-xs">Follow Me: </b>
          <a href="#"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
